{% extends "layouts/base.html" %}
{% block content %}
<div class="container mt-4">
    <h2>Students per City</h2>
    <table class="table shadow">
        <thead class="table-dark">
            <tr><th>City</th><th>Count</th></tr>
        </thead>
        <tbody>
            {% for item in city_counts %}
            <tr>
                <td>{{ item.address__city }}</td>
                <td>{{ item.count }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}